<div class="top">
  <div class="top-box container">
    <div class="top-left">找内部优惠券的网站来领券网每天数万款优惠卷、大额优惠券免费领取让你享受更多优惠！</div>
    <div class="top-right">
      <ul class="top-nav">
        <li><a href="#">亲，请登入</a></li>
        <li><span> 或 </span></li>
        <li><a href="#">免费注册</a></li>
        <li><a href="#">在线客服</a></li>
        <li><a href="#">商家报名</a></li>
      </ul>
    </div>
  </div>
  <div class="log-search"></div>
</div>

<header class="container">
  <div class="index-head">
    <div class="logo">
      <a href="/"><img src="/images/logo.png" alt="logo"></a>
    </div>
    <div class="search">
      <form action="">
        <input type="text" placeholder="请输入您要查找的优惠券商品名称">
        <input type="submit" value="搜索">
      </form>
    </div>
  </div>
</header>